<div class="row well">
  <div class="col-xs-6 col-md-4">

    <h6> <%= patient.full_name %> </h6>
    <small><%= patient.address1 %> </small>
    <p> <small><%= patient.city %> </small> </p>
  </div>
</div>

