<h1>Listing appointments <%= Date.today.to_s(:short) %></h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Patient</th>
      <th>Starts at</th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= link_to appointment.patient.full_name, appointment.patient %></td>
        <td><%= link_to appointment.starts_at.to_s(:long), [appointment.patient, appointment] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
