<h1>Listing appointments</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Starts at</th>
      <th>Patient</th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.starts_at.to_s(:long) %></td>
        <td><%= link_to appointment.patient.full_name, [appointment.patient, appointment] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
