<body bgcolor="red">
    <pre align="center">
        <font face="verdana" color="green">
          <h3> Mana Davakhana </h3>
          <h4> Innovation in transparent health care delivery.</h4>
          <h6>  It is all about automating appointments
                appointment history storage and retrieval
                and facilitating stake holders for smooth delivery of health care. </h6>
        </font>
    </pre>
</body>